# Módulo 2 - Scraper + Banco de Dados
# Instalar com: pip install -r requirements.txt

requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.2.1
cloudscraper==1.2.71
mysql-connector-python==8.3.0
SQLAlchemy==2.0.30
pandas==2.2.2
python-dotenv==1.0.1
